<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        MobyPress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <% categories.forEach(categorie => { %>
            <li class="nav-item">
                <a href="/categorie/<%= categorie.slug%>" class="nav-link"><%= categorie.title %></a>
            </li>
        <%})%>
<!--         <% categories.forEach(categorie => { %>

            <li class="nav-item">
                <a class="nav-link" href="/categorie/<%= categorie.slug%>"><%= categorie.title %></a>
            </li>

        <%})%> -->

        <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
        </li>


    </ul>
</nav>